:root {
  --button-color: #e50914;
  --title-color: white;
}
body{
 width: 100%;
}
section{
  background-color: black;
  position: relative;
  text-align: center;
  align-self: center;
  border-bottom: 8px solid #222;
  display: block
}
.header{
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #000000;
}
.img-header{
  object-fit: cover;
  height: 700px;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(black, white,black);
}


.logo{
  color: var(--button-color);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700;
  position: absolute;
  top: 10px;
  left: 10px;
}
.btn-login {   
  height: 20px;
  font-family: verdana, arial, sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.35rem;
  padding: 4px 8px;
  background-color:var(--button-color);
  color: var(--title-color);
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 3px;
}
.header-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-login:link,
.btn-login:visited {
  border-top: 1px solid #cccccc;
  border-bottom: 2px solid #666666;
  border-left: 1px solid #cccccc;
  border-right: 2px solid #666666;
}
.btn-login:hover {
  border-bottom: 1px solid #cccccc;
  border-top: 2px solid #666666;
  border-right: 1px solid #cccccc;
  border-left: 2px solid #666666;
}
.title{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
  color: var(--title-color);
}
.subtitle{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
  line-height: 20.4px;
  color: var(--title-color);
}
.input-email{
  font-size: 16px;
  border-radius: 2px;
  color: #000000;
  height: 48px;
  padding: 10px 10px 0;
  width: 348px;
  border: solid 1px #666666;
}
.btn-link{
  height: 44px;
  width: 182px;
  color: var(--title-color);
  background-color: var(--button-color);
  font-size: 16px;
  margin-top: 1rem;
  font-weight: normal;
  padding: 4px 8px;
  border-color: var(--button-color);
}

.div-image-tv-content{
  height: 200px;
}
.img-secction-one{
  max-width: 85%;
  height: auto;
  margin-left: -175px;
  margin-top: -160px;
  position: absolute;
  align-self:center;
}
.section-one-content{
  padding: 5px 5px 5px 5px;
}
.video-tv{
  width: 100%;
  margin-left: 75px;
}
.div-video-tv{
  width: 255px;
  height: 154px;
  top:48px;
  position: relative;
}
.div-image-iphone-content{
  height: 200px;
}
.div-border-dowload{
  border: solid 2px gray;
  background-color: black;
  width: 268px;
  height: 67px;
  top:320px;
  margin-left: 70px;
  position: absolute;
  border-radius: 10px;
  font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-1{
  color: white;
  margin-top: 10px;
  align-self: start;
  font-weight: 600;
  font-size: 0.9em;
  margin-left: -10px;
}
.text-2{
  padding: 5px 5px 5px 5px;
  color: #0071eb;
    font-size: 0.75em;
    font-weight: normal;
    margin-left: -30px;
    align-self: start;

}
.download-content{
  width: 80px;
  height: 40px;
}
.download-icon{
  width: 80%;
  margin-top:-50px;
  margin-left: 190px;
}
.boxshot-content{
  width: 80px;
  height: 0px;
}
.boxshot-img{
  width: 50%;
  margin-top:3px;
  margin-left: 0px;
}
.img-secction-two{
  max-width: 85%;
  height: auto;
  top:148px;
  margin-left: -175px;
  position: absolute;
  align-self:center;
}